/* =============================================================================

  $VARIABLES

============================================================================= */

// Group: Widths
$small: 30em;
//480+ small
$medium: 45em;
//720+ medium
$large: 62em;
//992+ large
$wide: 75em;
//1200+ wide
$x-wide: 100em;
//1600+ extra wide

$gutter: 20px;

$full: 100%;
$half: 50%;
$third: 33.333333%;
$quarter: 25%;
$fifth: 20%;

$three-quarters: ($quarter * 3);
$three-fifths: ($fifth * 3);
$four-fifths: ($fifth * 4);
$two-fifths: ($fifth * 2);
$two-thirds: ($third * 2);

$container-width: 68.75em;
$content-width: 680px;

$radius: 3px;
// Group: Fonts

$base-font-size: 1em;
$baseline: 1.8;

$font-name-sans: 'brandon-grotesque';
$font-name-serif: 'Libre Baskerville';
$font-name-code: 'source-code-pro';

$font-serif: $font-name-serif, Georgia, serif;

$font-sans: $font-name-sans, Helvetica Neue, Verdana, san-serif;

$font-code: $font-name-code, Monaco, monospace;

// Group: Headings

$h1: 3em;

$h2: 2em;

$h3: 1.8em;

$h4: 1.5em;

$h5: 1em;

$h6: 1em;

// Group: Colors

$lighter-grey: rgb(246, 246, 246);

$dark-grey-blue: rgb(36, 47, 49);

$mid-grey-blue: rgb(97, 100, 108);

$light-grey-blue: rgb(130, 141, 146);

$light-grey: rgb(245, 243, 244);

$highlight: rgb(35, 205, 163);

$highlight-hover: darken($highlight, 10%);

// Group: Base colors step

$base-color: $dark-grey-blue;

$base-5: lighten($base-color, 5%);

$base-10: lighten($base-color, 10%);

$base-20: lighten($base-color, 20%);

$base-30: lighten($base-color, 30%);

$base-40: lighten($base-color, 40%);

$base-50: lighten($base-color, 50%);

$base-60: lighten($base-color, 60%);

$base-70: lighten($base-color, 70%);

$base-75: lighten($base-color, 75%);

$base-80: lighten($base-color, 80%);

// Group: Applied Colours

$meta: $base-50;

$mid-range-text: $mid-grey-blue;

//





