html {
	font-family: $font-serif;
	font-size: $base-font-size;
	color: $base-color;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: "liga" 1, "kern" 1;
	font-feature-settings: "liga" 1, "kern" 1;
	-webkit-font-kerning: normal;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
}

p {
	line-height: $baseline;
	margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	line-height: $baseline;
	font-weight: 500;
	margin-bottom: 1rem;
}

h1, .alpha {
	font-size: $h1;
}

h2, .beta {
	font-size: $h2;
}

h3, .gamma {
	font-size: $h3;
}

h4, .delta {
	font-weight: 700;
	font-size: $h4;
}

h5 {
	font-weight: 700;
	font-size: $h5;
}

h6 {
	font-weight: 700;
	font-size: $h6;
}

ul, ol {
	margin-left: 1em;
	margin-left: 1rem;
}

li {
	margin-bottom: 1em;
	margin-bottom: 1rem;
}

hr, .hr {
	border-width: 3px 0 0;
	border-color: $base-80;
	width: 100px;
	height: 3px;
	margin-left: auto;
	margin-right: auto;
}

.center {
	text-align: center;
}

.blurb {
	font-size: 1.25em;
	font-style: italic;
	line-height: 36px;
}

.sub-title {
	font-size: 1em;
	font-family: $font-sans;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}


.lede {
	@include respond-to(medium) {
		font-size: 1.5em;
		line-height: 1.25em;
	}
}

blockquote {
	margin-bottom: 1em;
}

.bq-standard {
	font-style: italic;
	text-align: center;
	font-size: 3em;
}

.bq-line {
	color: $mid-grey-blue;
	font-style: italic;
	padding: 1em;
	border-left: 3px solid $highlight;
}
