html {
	font-family: $font-serif;
	font-size: $base-font-size;
	color: $base-color;
	line-height: 1.625em;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: "liga" 1, "kern" 1;
	font-feature-settings: "liga" 1, "kern" 1;
	-webkit-font-kerning: normal;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
}

p {
	line-height: $baseline;
	margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	line-height: $baseline;
	font-weight: 500;
	margin-bottom: 1rem;
}

h1, .alpha {
	font-size: $alpha;
}

h2, .beta {
	font-size: $beta;
}

h3, .gamma {
	font-size: $gamma;
}

h4, .delta {
	font-weight: 700;
	font-size: $delta;
}

h5 {
	font-weight: 700;
	font-size: $omega;
}

h6 {
	font-weight: 700;
	font-size: $sigma;
}

ul, ol {
	list-style-position: outside;
	padding-left: 0;
	margin-left: 2em;
}

ul ul {
	margin-top: 1em;
}

li {
	margin-bottom: 1em;
}

.hr {
	background-color: $base-75;
	width: 100px;
	height: 3px;
	margin: 2em auto;
	@include respond-to(medium) {
		margin-top: 3em;
		margin-bottom: 3em;
	}
}

.vr {
	background-color: $base-75;
	width: 3px;
	height: 3em;
	margin: 2em auto;
	@include respond-to(medium) {
		margin-top: 3em;
		margin-bottom: 3em;
	}
}

.center {
	text-align: center;
}

.blurb {
	font-size: 1.25em;
	font-style: italic;
	line-height: 36px;
}

.sub-title {
	font-size: 1em;
	font-family: $font-sans;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}


.lede {
	@include respond-to(medium) {
		font-size: 1.5em;
		line-height: 1.25em;
	}
}

blockquote {
	margin-bottom: 1em;
}

p + blockquote {
	margin-top: 1em;
}

.bq-standard {
	font-style: italic;
	text-align: center;
	font-size: 3em;
}

.bq-line {
	color: $mid-grey-blue;
	font-style: italic;
	padding: 1em;
	border-left: 3px solid $highlight;
}

.label {
	font-size: $meta-font-size;
	margin-bottom: 0;
	@include uppercase();
}

.base-5 {
	color: $base-5;
}
.base-10 {
	color: $base-10;
}
.base-20 {
	color: $base-20;
}
.base-30 {
	color: $base-30;
}
.base-40 {
	color: $base-40;
}
.base-50 {
	color: $base-50;
}
.base-60 {
	color: $base-60;
}
.base-70 {
	color: $base-70;
}
.base-75 {
	color: $base-75;
}
.base-80 {
	color: $base-80;
}
