
// Shared entry styles

// Teaser entry styles
.entry-teaser {
	text-align: center;
	padding-bottom: 6em;
	position: relative;
	&:after {
		content:'';
		border: 1px solid $base-75;
		position: absolute;
		bottom: 1.5em;
		left: 50%;
		height: 3em;
	}
}
.entry-teaser .entry-title {
	font-size: $gamma;
	margin-bottom: 0;
	@include respond-to(medium) {
		font-size: $beta;
	}
}
.entry-teaser.last {
	&:after {
		border: 0;
		position: static;
		bottom: 0;
		height: auto;
	}
}

// Main article entries
.entry-header {
	text-align: center;
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 5em;
	@include respond-to(medium) {
		padding-bottom: 9em;
	}
}
.entry-header:after {
	content:'';
	border: 1px solid $base-75;
	position: absolute;
	bottom: 1em;
	left: 50%;
	height: 3em;
	@include respond-to(medium) {
		bottom: 3em;
	}
}

.journal-entry .entry-title {
	font-size: 3em;
	margin: 0;
	@include respond-to(medium) {
		font-size: 3em;
	}
	@include respond-to(large) {
		font-size: 4em;
	}


}

.tags,
.date {
	color: $meta;
	font-family: $font-sans;
	font-size: $meta-font-size;
	display: inline-block;
	@include uppercase();
}

.entry-content {
	max-width: $content-width;
	margin: 0 auto;
	position: relative;
}

.entry-article {
	position: relative;
	padding-bottom: 5em;
	@include respond-to(medium) {
		padding-bottom: 9em;
	}
	&:after {
		background-color: $base-75;
		content:'';
		position: absolute;
		bottom: 3em;
		left: 50%;
		margin-left: -50px;
		height: 3px;
		width: 100px;
	}
}
.entry-article ul, .entry-article ol {
	margin-bottom: 1em;
}
.entry-article li {
	margin-bottom: 0;
}
.entry-article .label {
	padding-top: 0.5em;
	margin-bottom: 1em;
}


.table-of-contents {
	background-color: $base-80;
	display: none;
	//width: 100%;
	//position: fixed;
	//z-index: 400;
	//top: 155px;
	//left: 0;
	@include respond-to(medium) {

	}
	@include respond-to(large) {
		display: block;
		padding: 20px;
		position: absolute;
		left: 700px;
		width: 280px;
	}
}

.table-of-contents h5 {
	display: none;
	padding-top: 0;
	@include respond-to(large) {
		display: block;
	}
}

.table-of-contents ol {
	margin-bottom: 0;
}


.table-of-contents li {

	margin: 0 -2px 0 -1px;
	@include respond-to(medium) {
		display: inline-block;
		width: 25%;
		text-align: center;
	}
	@include respond-to(large) {
		list-style-type: decimal;
		display: block;
		width: auto;
		text-align: left;
		margin: 0;
	}
}

.table-of-contents a {
	padding: 10px;
	display: block;
	@include ellipsis();
	@include respond-to(large) {
		padding: 0;
	}
}