
// Shared entry styles

// Teaser entry styles
.entry-teaser {
	text-align: center;
	padding-bottom: 6em;
	position: relative;
	&:after {
		content:'';
		border: 1px solid $base-75;
		position: absolute;
		bottom: 1.5em;
		left: 50%;
		height: 3em;
	}
}
.entry-teaser .entry-title {
	font-size: 2em;
	margin: 0.5em 0;
}

// Main article entries
.entry-header {
	text-align: center;
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 5em;
	@include respond-to(medium) {
		padding-top: 3em;
		padding-bottom: 9em;
	}
	&:after {
		content:'';
		border: 1px solid $base-75;
		position: absolute;
		bottom: 3em;
		left: 50%;
		height: 3em;
	}
}

.journal-entry .entry-title {
	font-size: 4em;
	margin: 0.5em 0;
}

.tags,
.date {
	color: $meta;
	font-family: $font-sans;
	font-size: 0.875em;
	display: inline-block;
	@include uppercase();
}

.entry-content {
	max-width: $content-width;
	margin: 0 auto;
}

.entry-article {
	position: relative;
	padding-bottom: 5em;
	@include respond-to(medium) {
		padding-top: 3em;
		padding-bottom: 9em;
	}
	&:after {
		content:'';
		border: 1px solid $base-75;
		position: absolute;
		bottom: 3em;
		left: 50%;
		height: 3em;
	}
}