.site-header {
	background-color: transparent;
	background-color: rgba(255, 255, 255, 0);
	padding: 10px 10px 0;
	top: 0;
	left: 0;
	z-index: 1;
	@include respond-to(medium) {
		padding: 40px 40px 0;
	}
}

.header-inner {
	border-color: transparent;
	padding: 2em 40px;
	@include clearfix();
	@include transition(all, 350ms, ease-in-out);
	@include respond-to(medium) {
		border: 1px solid $base-80;
		border-bottom-width: 0;
		padding-top: 4em;
		padding-bottom: 4em;
	}
}

.site-header .logo {
	text-align: center;
	@include respond-to(medium) {
		text-align: left;
	}
}

.site-header .site-nav {
	@include respond-to(medium) {
		float: right;
		width: 60%;
	}
}

.site-header-brand {
	text-align: center;
	@include respond-to(medium) {
		text-align: left;
		float: left;
		width: 40%;
	}
}
