.site-header {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 1);
	padding: 1.5em 40px;
	top: 0;
	left: 0;
	z-index: 500;
	position: fixed;
	width: 100%;
	@include respond-to(medium) {
		padding: 2.2em 40px;
	}
	@include respond-to(wide) {
		padding-left: 80px;
		padding-right: 80px;
	}
}

.sticky .site-header {
	background-color: rgba(255, 255, 255, 0.9);
	@include transition(padding, 280ms, cubic-bezier(.4, 0, .2, 1));
	@include transition(background, 280ms, cubic-bezier(.4, 0, .2, 1));

	@include respond-to(medium) {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	@include respond-to(wide) {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	&:hover {
		background-color: rgba(255, 255, 255, 1);
	}
}

.site-header .logo {
	text-align: center;
	@include respond-to(medium) {
		text-align: left;
	}
}

.site-header .site-nav {
	@include respond-to(large) {

	}
}

.site-header-brand {
	text-align: center;
	@include respond-to(medium) {
		margin-bottom: 1em;
	}
	@include respond-to(large) {
		margin-bottom: 0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
	}
}
