.page-title {
	padding: 2em 0;
	text-align: center;
	@include respond-to($medium) {
		padding: 2em 0;
	}
}
.page-content {
	border-width: 0 1px;
	margin: 0 10px 10px;
	position: relative;
	padding-bottom: 4em;
	@include respond-to(medium) {
		border: 1px solid $base-80;
		border-width: 0 1px;
		margin: 0 40px;
		padding-bottom: 8em;
	}
}
.page-content .subtitle {
	text-align: center;
	margin-bottom: 80px;
}

.page-wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 710px;
}

.wrap {
	margin-left: 10%;
	margin-right: 10%;
	@include respond-to(small) {
		margin-left: auto;
		margin-right: auto;
		max-width: 520px;
	}
}