.btn {
	font-family: $font-sans;
	font-size: 0.875em;
	letter-spacing: 1px;
	text-decoration: none;
	border-radius: $radius;
	text-transform: uppercase;
	display: inline-block;
	background: none;
	border: 0;
	line-height: 36px;
	padding: 0 1em;
	height: 36px;
	cursor: pointer;
	outline: none;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	font-weight: 700;
}

.btn-action, .btn-action:hover {
	background-color: $highlight;
	color: #fff;
	@include transition(all, 280ms, cubic-bezier(.4, 0, .2, 1));
}

.btn-action:hover {
	background-color: $highlight-hover;
	text-decoration: none;
}

.btn-action:active {
	box-shadow: inset 0px 3px 1em 0px rgba(0, 0, 0, 0.5);
}