html {
	min-height: 100%;
}

body {
	min-height: 100%;
}

.home .page-lead {
	background: $base-75 url('/assets/images/lead-mountains.jpg') no-repeat center bottom;
	background-size: cover;
	min-height: 340px;
	@include respond-to(medium) {
		min-height: 480px;
	}
	@include respond-to(large) {
		min-height: 660px;
	}
}

.home .page-lead .page-title {
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	padding: 0 5%;
	left: 0;
	@include respond-to(small) {
		padding: 0 10%;
	}
	@include respond-to(large) {
		padding: 0 10%;
	}
	@include respond-to(wide) {
		padding: 0 15%;
	}
	@include respond-to(x-wide) {
		padding: 0 15%;
	}
}
