.home .page-lead {
	background: rgb(244, 244, 244) url("/warwickgav/assets/images/bg-leadspace-home.jpg") no-repeat center top;
	background-size: cover;
	min-height: 281px;
	@include respond-to(medium) {
		min-height: 680px;
		padding-top: 257.5px;
	}
}

.home .page-title {
	font-size: 1.75em;
	margin-top: 40px;
	margin-bottom: 40px;
}

.home .blurb {
	@include content-width();
}

