.intro {
	@include respond-to(large) {
		padding-top: 130px;
		padding-bottom: 130px;
	}
}

.intro-body {
	font-size: 38px;
	font-weight: 500;
}

html {
	min-height: 100%;
}

body {
	min-height: 100%;
}

.home .page-lead {
	background: $base-75 url('/assets/images/lead-mountains.jpg') no-repeat center bottom;
	background-size: cover;
	min-height: 340px;
	@include respond-to(medium) {
		min-height: 660px;
	}
}

.home .page-lead .title {
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	padding: 0 10%;
	@include respond-to(small) {
		padding: 0 10%;
	}
	@include respond-to(large) {
		padding: 0 10%;
	}
	@include respond-to(wide) {
		padding: 0 15%;
	}
	@include respond-to(x-wide) {
		padding: 0 15%;
	}
}