.journal .page-content {
	padding-top: 3em;
	@include respond-to(medium) {
		padding-top: 4em;
	}
}
.journal-entry .page-content {
	@include respond-to(medium) {
		padding-bottom: 16em;
	}

}

.entry-standard {
	padding-left: 20px;
	padding-right: 20px;
}