.project-list {
	margin-bottom: 2em;
	@include respond-to(medium) {
		margin-bottom: 3em;
	}
}
.project-list:hover .project {
	opacity: 0.5;
	transition: all 200ms ease;
}
.project-list .project:hover {
	opacity: 1;
	transition: all 200ms ease;
}
.project-list .project {
	border-top: 1px solid $base-75;
	padding: 1.5em 20px;
	@include respond-to(medium) {
		padding: 2em 20px;
	}
}

.project-list .last {
	//border-bottom: 1px solid $base-75;
}
.project-list .project:hover {
	//background-color: #F6FCF9;
}
.project .title {
	font-size: $delta;
	margin-bottom: 0;
	line-height: 1.625;
	@include respond-to(medium) {
		font-size: $gamma;
	}
}
.project-details {
	font-size: 0.875em;
	@include uppercase();
}
.project .date,
.project .information,
.project .motif {
	display: block;
	text-align: center;
	@include respond-to(medium) {
		display: inline-block;
		vertical-align: top;
		margin: 0 -0.25em;
	}
}
.project .date {
	@include respond-to(medium) {
		width: 20%;
		text-align: right;
		padding-right: 2em;
		padding-top: 9px;
	}

}
.project .information {
	@include respond-to(medium) {
		width: 80%;
		text-align: left;

	}
}

.contrast .project-list .project {
	border-color: $base-10;
}

.contrast .project-details {
	color: $base-40;
}

// Case Study

.case-study .contact-me {
	margin-bottom: 3em;
}

.case-study-page {
	padding-bottom: 2em;
	@include respond-to(large) {
		padding-bottom: 8em;
	}
}
.case-study-header {
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding: 3em 10px;
	text-align: center;
	@include respond-to(medium) {
		padding: 8em 40px;
	}
}
.case-study-header .title {
	font-size: 2em;
	@include respond-to(medium) {
		margin: 0.25em 0;
		font-size: 4em;
	}
}
.case-study-header .date {
	color: #fff;
}
.case-study-intro {
	background-color: $base-80;
	padding: 4em 0;
	@include respond-to(medium) {
	}
}
.case-study-intro .container {
	padding: 0;
}
.case-study-section {
	padding-top: 2em;
	padding-bottom: 2em;
	margin-bottom: 0;
	@include respond-to(medium) {
		padding-top: 4em;
		padding-bottom: 4em;
	}
}
.case-study-section + .case-study-section {
	padding-top: 0;
	@include respond-to(medium) {
		padding-top: 0;
	}
}

.case-study-section h5 {
	border-bottom: 1px solid $base-75;
	padding-bottom: 1em;
}
.case-study-art {
	text-align: center;
	padding:1em;
	img {
		display: block;
		margin: 0 auto;
	}
	@include respond-to(small) {
		padding: 2em;
	}
	@include respond-to(medium) {
		padding: 2em;
	}
	@include respond-to(wide) {
		padding: 3em;
	}
}
.case-study-hero {
	background-size: cover;
	height: 300px;
	@include respond-to(medium) {
		height: 480px;
	}
	@include respond-to(large) {
		height: 900px;
	}
}

.case-study-divider {
	padding: 4em;
}
.case-study-divider hr {
	border: 0;
	background-color: #e7eced;
	width: 3px;
	height: 3em;
}

.case-study-divider + .case-study-section {
	padding-top: 0;
}

.case-study-gap {
	padding: 4em;
}

.project-link {
	padding-top: 2em;
	text-align: center;
}

// Case Study Specific Styles

.extreme-sas .case-study-header {
	background-position: center center;
	background-color: #638951;
}

.shopfrontpro .case-study-header {
	background-position: center bottom;
	background-color: #0d81ca;
}

.baby-gift-company .case-study-header {
	background-position: center right;
	background-size: auto;
	background-color: #f4f4f0;
}

.baby-gift-company .date,
.baby-gift-company .case-study-header {
	color: $base;
}

.pet-insurance .case-study-header {
	background-color: #ffc72c;
}

.pet-insurance .case-study-header .title,
.pet-insurance .case-study-header .date,
.pet-insurance .case-study-header .project-details {
	color: $base;
}

.brand-metabolism .case-study-header {
	background-color: #000000;
}