.logo {
	background-color: $dark-grey-blue;
	border: 2px solid $dark-grey-blue;
	color: #ffffff;
	text-decoration: none;
	font-family: $font-sans;
	font-size: 0.85em;
	letter-spacing: 1em;
	display: block;
	padding: 8px 15px;
	text-align: center;
	width: 100px;
	margin: 0 auto;
}

.logo:hover {
	background-color: $highlight;
	border-color: $highlight;
	color: #fff;

}