.site-nav {
	text-align: right;
}

.nav {
	font-family: $font-sans;
}

.nav > li {
	display: inline-block;
	letter-spacing: 0.15em;
	margin-left: 90px;
}

.nav a {
	display: block;
	border-bottom: 2px solid rgb(255,255,255);
	padding-bottom: 10px;
	@include transition(all, 280ms, cubic-bezier(.4, 0, .2, 1));
}

.nav a:hover,
.nav > .active > a:hover {
	color: $dark-grey-blue;
	border-color: $dark-grey-blue;
}

.nav > .active > a {
	border-color: $highlight;
}