.page-lead {
	//background-color: $lighter-grey;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 75px;
	@include respond-to(medium) {
		padding-top: 9em;
		padding-bottom: 9em;
	}
}

.page-title {
	font-family: $font-serif;
	font-weight: 500;
	@include respond-to(medium) {

	}
}

.page-lead .subtitle {
	color: $mid-grey-blue;
}