.pagination {
	font-size: 14px;
	font-family: $font-name-sans;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	text-align: center;
}

.pagination .icon {
	font-size: 1.25em;
	vertical-align: -2px;
}