nav > ol, nav > ul {
	padding-left: 0;
	margin-left: 0;
}

nav li {
	margin-bottom: 0;
}

.site-nav {
	display: none;
	background-color: $highlight;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	@include respond-to(medium) {
		background-color: #fff;
		position: static;
		display: block !important;
	}
}

.open-site-nav .site-nav {
	display: block;
}

.site-nav ol {
	width: 100%;
	position: absolute;
	top: 50%;
	z-index: 1;
	transform: translateY(-50%);
	@include respond-to(medium) {
		position: static;
		top: 0;
		transform: translateY(0);
		text-align: right;
	}
}

.site-nav ol > li {
	display: block;
	font-size: 1.5em;
	font-family: $font-sans;
	text-transform: uppercase;
	text-align: center;
	padding: 3em 1.5em;
	@include respond-to(medium) {
		display: inline-block;
		font-size: 0.875em;
		padding: 0;
		margin-left: 3em;
		letter-spacing: 1px;
	}
}

.site-nav li > a {
	color: #fff;
	display: inline-block;
	position: relative;
	@include respond-to(medium) {
		color: $base-color;
	}
}
.site-nav a:hover:after {
	border-bottom: 3px solid #fff;
	content: '';
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.site-nav li > a:hover {
	@include respond-to(medium) {
		color: $highlight;
		padding: 0;
	}
}

.site-nav .active > a {
	@include respond-to(medium) {
		color: $highlight;
		padding: 0;
	}
}
.site-nav .active > a:hover {
	@include respond-to(medium) {
		color: $highlight-hover;
		padding: 0;
	}
}

// Menu button that opens/closes the site-nav
.menu-btn {
	color: $base-color;
	font-size: 1.5em;
	position: absolute;
	left: 25px;
	top: 1.5em;
	margin-top: 4px;
	z-index: 50;
	cursor: pointer;
	@include respond-to(medium) {
		display: none;
	}
}

// Close button for menu. Only appears when menu is open
.menu-close {
	color: #fff;
	display: none;
}
.menu-close:hover {
	color: lighten($highlight, 30%);
}
.open-site-nav .menu-close {
	display: block;
	font-size: 1.5em;
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px;
	z-index: 1100;
	cursor: pointer;
}