.pagination {
	@include clearfix();
}

.pagination .icon {
	font-size: 3em;
	@include respond-to(medium) {
		position: absolute;
		top: -4px;
	}
}

.pagination-entry-name {
	font-size: 1.125em;
}

.pagination-label {
	color: $base-50;
	font-size: 0.875em;
	display: block;
	@include uppercase();
}

.pagination > a {
	position: relative;
	display: block;
	padding: 1em;
	@include respond-to(medium) {
		padding: 0;
	}
}

.pagination > a span {
	display: none;
	@include respond-to(medium) {
		display: block;
	}
}

.pagination .next {
	float: right;
	width: 50%;
	text-align: right;
	@include respond-to(medium) {
		padding-right: 3em;
		position: absolute;
		bottom: 80px;
		right: 40px;
		width: auto;
	}
}

.pagination .next .icon {
	@include respond-to(medium) {
		right: 0;
	}
}

.pagination .prev {
	float: left;
	width: 50%;

	@include respond-to(medium) {
		position: absolute;
		padding-left: 3em;
		bottom: 80px;
		left: 40px;
		width: auto;
	}
}

.pagination .prev .icon {
	@include respond-to(medium) {
		left: 0;
	}
}