.pagination {

}

.pagination .icon {
	font-size: 3em;
	position: absolute;
	top: -4px;
}

.pagination-entry-name {
	font-size: 1.125em;
}

.pagination-label {
	color: $base-50;
	font-size: 0.875em;
	display: block;
	@include uppercase();
}

.pagination > a {
	position: relative;
	display: block;
}

.pagination .next {
	text-align: right;
	padding-right: 3em;
	right: 20px;
	bottom: 40px;
	@include respond-to(medium) {
		position: absolute;

		bottom: 80px;
		right: 40px;
	}
}

.pagination .next .icon {
	right: 0;
}

.pagination .prev {
	padding-left: 3em;
	left: 20px;
	bottom: 40px;
	@include respond-to(medium) {
		position: absolute;

		bottom: 80px;
		left: 40px;
	}
}

.pagination .prev .icon {
	left: 0;

}